/*--------------------------------------------------------
Style Sheet for about me Card component. UDACITY Project - Front End Developper Nanodegree
version: 1.0
last modified: 13/05/20
author: E. RONDON
----------------------------------------------------------*/

/*-----------------------------------------------------------
contents:
=card container layout
=title - layout
=items - layout
------------------------------------------------------------*/

/*main container of the card*/
.about-me-card-container{
    width: 100%;
    background-color: white;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}
/*image responsive layout and style*/
.about-me-card-image{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}
/*card body*/
.about-me-card-body-container{
    padding: 4px 10px;
    display: flex;
    flex-flow: column wrap;
}
.about-me-card-name{
    align-self: center;
    margin: 5px 0;
}
.about-me-card-item{
    margin: 5px 8px;
}
