/*--------------------------------------------------------
Style Sheet for Footer component. UDACITY Project - Front End Developper Nanodegree
version: 1.0
last modified: 10/05/20
author: E. RONDON
----------------------------------------------------------*/

/*-----------------------------------------------------------
contents:
=container style
------------------------------------------------------------*/

.footer-section-style{
    background-color: #212121;
}