/*--------------------------------------------------------
Global styles for the entire site. UDACITY Project - Front End Developper Nanodegree
version: 1.0
last modified: 13/05/20
author: E. RONDON
----------------------------------------------------------*/

/*-----------------------------------------------------------
contents:
=Global Selectors
=Site Style global to all pages
------------------------------------------------------------*/

/*reset of global values.*/
/*Items shall not have margin and padding unless defined in the stylesheets, all items shall be border-box.
Unless defined in stylesheet for class or id selector*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*list items shall not have bullet points unless defined in stylesheet for class or id selector*/
ul{
    list-style-type: none;
}
/*hyperlinks shall no have underline unless defined in stylesheet for class or id selector*/
a{
    text-decoration: none;
}
/*buttons shall have cursor pointer by default unless defined in stylesheet for class or id selector*/
button{
    cursor: pointer;
}

/*style of the site*/
.site-background{
    background-color: #e8e8e8;
}

/*responsive image background*/
.container-responsive-image-background-sytle{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

/*buttons*/
/*borderless button*/
.borderless-button-style{
    margin: 8px 0;
    padding: 5px 5px;
    color: #1565c0;
    background-color: white;
    border: none;
}
.borderless-button-style:active{
    border: none;
    background-color: whitesmoke;
}
/*default button*/
.default-button-style{
    margin: 8px 0;
    padding: 5px 5px;
    color: whitesmoke;
    background-color: #1565c0;
    border: none;
    border-radius: 5px;
}
.default-button-style:active{
    border: none;
    background-color: #003c8f;
}
/*rounded button*/
.default-button-style{
    margin: 8px 0;
    padding: 5px 5px;
    color: whitesmoke;
    background-color: #1565c0;
    border-radius: 20px;
    border: none;
}
.default-button-style:active{
    border: none;
    background-color: #003c8f;
}
/*complex list item inline*/
.inline-list{
    display: inline-block;
}
/*badge*/
.badge{
    display: inline-block;
    border-radius: 100%;
    background-color: #5e92f3;
    color: white;
    padding: 8px 8px;
}
/*list items*/
.row-list-item{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 2px 10px;
}
.column-list-item{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 5px 0;
    padding: 2px 10px;
}
