/*--------------------------------------------------------
Style Sheet for typoraphy. UDACITY Project - Front End Developper Nanodegree
version: 0.1
last modified: 10/05/20
author: E. RONDON
----------------------------------------------------------*/

/*-----------------------------------------------------------
contents:
=layout of site with grid layout
=layout of container with nested grid layout 
=meadia queries for responsivennes
------------------------------------------------------------*/
