/*--------------------------------------------------------
Style Sheet for Layout of My Blog site. UDACITY Project - Front End Developper Nanodegree
version: 0.2
last modified: 10/05/20
author: E. RONDON
----------------------------------------------------------*/

/*-----------------------------------------------------------
contents:
=layout of site with grid layout
=layout of header and navbar
=layout of category section
=layout of container section (all posts) with nested grid layout 
=media queries for responsivennes
------------------------------------------------------------*/

@import url("../../common/css/styles.css");
@import url("../../common/css/typography.css");
@import url("../../common/css/header.css");

/*main container with the grid layout of the site*/
.blog-grid-container{
    width: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 80px auto auto 50px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd"
    "ctg ctg ctg ctg ctg ctg ctg ctg ctg ctg"
    "ctnt ctnt ctnt ctnt ctnt ctnt ctnt ctnt ctnt ctnt"
    "ft ft ft ft ft ft ft ft ft ft";
} 

/*grid areas definition*/
.header-section-layout{
    grid-area: hd;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.category-section-layout{
    grid-area: ctg;
}

.content-section-layout{
    grid-area: ctnt;
}

.footer-section-layout{
    grid-area: ft;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


/*Layout for each section*/
/*layout of the header section*/
.navbar-global-container{
    width: auto;
    min-width: 600px;
    max-width: 960px;
    margin: 0 auto;
}
.navbar-flex-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}
.navbar-flex-item{
    flex: 1;
}
.header-logo-layout{
    margin: 10px 0;
}
.header-button-layout{
    margin: 10px 0;
}

/*flex layout of the category section centered with max width 1200px*/
.category-flex-container{
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*sub grid layout for contentsection centered with max width 1200px*/
.content-grid-container{
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: auto;
    grid-template-areas: "posts posts posts posts posts posts posts rbar rbar rbar";
}
.posts-section-layout{
    grid-area: posts;
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0 10px 0;
}
.right-bar-section-layout{
    grid-area: rbar;
}

.post-flex-item{
    flex:1 1 50%;
    max-width: 50%;
}


/*layout for devices with width inferior or equal to 600px*/
@media(max-width:600px){
    .blog-grid-container{
        width: 100%;
        margin: 0 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "hd"
        "ctg"
        "ctnt"
        "ft";
    } 
    .header-section-layout{
        grid-area: hd;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
    }
    .footer-section-layout{
        grid-area: ft;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .navbar-global-container{
        width: 100%;
        margin: 0 0;
        min-width: 100%;
    }
    .navbar-flex-container{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
    }
    .navbar-flex-item{
        flex: 1 0 100%;
        margin: 10px 0;
    }
    .content-grid-container{
        width: 100%;
        margin: 0 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: "posts" 
        "rbar";
    }
    .posts-section-layout{
        grid-area: posts;
        display: flex;
        flex-flow: column wrap;
        padding: 10px 0 10px 0;
    }
    .post-flex-item{
        flex:1 1 100%;
        max-width: 100%;
    }
}

/*layour for devices with width between 601px and 900px*/
@media(min-width:601px) and (max-width:900px){
    .blog-grid-container{
        width: 100%;
        margin: 0 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "hd"
        "ctg"
        "ctnt"
        "ft";
    }
    .header-section-layout{
        grid-area: hd;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
    }
    .navbar-global-container{
        width: auto;
        min-width: 500px;
        max-width: 960px;
        margin: 0 auto;
    }
    .content-grid-container{
        width: auto;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: auto;
        grid-template-areas: "posts posts posts posts posts posts rbar rbar rbar rbar";
    }
    .posts-section-layout{
        grid-area: posts;
        display: flex;
        flex-flow: column wrap;
        padding: 10px 0 10px 0;
    }
    .post-flex-item{
        flex:1 1 100%;
        max-width: 100%;
    }
}



